RewriteEngine On
RewriteRule ^$ views/sections/index.php
RewriteRule ^login$ views/sections/login.php
RewriteRule ^register$ views/sections/register.php
RewriteRule ^register_patient$ views/sections/register_patient.php
RewriteRule ^about_us$ views/sections/about_us.php
RewriteRule ^contact_us$ views/sections/contact_us.php
RewriteRule ^image_through_camera$ views/sections/disease_identify_camera.php
RewriteRule ^image_through_local$ views/sections/disease_identify_local.php
RewriteRule ^list_patients$ views/sections/list_patients.php
RewriteRule ^prescription_history/([0-9]+)$ views/sections/prescription_history.php?patient_id=$id